.profile {
  outline: grey 1px solid;
  width: 300px;
  /* padding: 30px; */
  text-align: center;
}

.description {
  padding: 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
  margin-bottom: 15px;
}

.name {
  font-weight: 600;
  font-size: 22px;
}

.tag {
  color: grey;
}

.location {
  composes: tag;
}

.stats {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  background-color: #f8f8ff;
  padding: 30px;
}

.label {
  display: block;
  margin-bottom: 10px;
  color: grey;
}

.quantity {
  font-weight: 700;
}
